#屏蔽具体文件
应该屏蔽.txt
应该屏蔽2.txt

#屏蔽文件夹 
该屏蔽的文件夹/

#使用通配符 例如 屏蔽所有 word 文件
#先测试屏蔽 新版 word文件（docx dotx）
*.do[ct]x

#全部word文件
*.do[ct]x
*.doc

#取反使用 不再屏蔽 新版word
!*.do[ct]x

#屏蔽 文件名 以两位 数字结尾 的文件 
*[0-9][0-9].*

#测试 diff
#山东省大的